body{
	font-weight: 700;
	font-size: 14px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 24px;
}

.container{
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.main-header{
	max-height: 436px;
	background-color: #eee;
}

.main-header-logo{
	line-height: 30px;
	padding-top: 27px;
	float: left;
	width: 140px;
	font-size: 14px;
	margin-right: ;
}


.main-navigation{
	padding-top: 60px;
	width: 560px;
	float: left;
}
.main-navigation ul{
	margin: 0;
	padding: 0;
	padding-left: 100px;
	list-style: none;
	font-size: 0;
}

.main-navigation li{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 30px;
}

.main-navigation a{
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 40px;
}	

.header-cart{
	padding-top: 60px;
	padding-left: 11px;
	padding-right: 0px;
	float: right;
	width: 169px;
}

.header-cart a{
	display: inline-block;
	padding: 0;
	margin: 0;
	text-decoration: none;
	vertical-align: top;
	line-height: 30px;
	text-transform: uppercase;
}


.slide-left-column{
	float: left;
	width: 480px;
}

.slide-right-column{
	width: 340px;
	float: right;
}
