body{
	font-family: Arial, sans-serif;
	color: #222; 
}

header{
	height: 100vh;
	min-height: 700px;
	padding-top: 44px;
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
}

.btn{
	display: inline-block;
	border-radius: 3px;
	background-color: #fed136;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 53px;
	color: #484543;
	vertical-align: top;
	text-align: center;
	margin: 0 auto;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn:hover{
	background-color: #ecc540;
}

.container{
	width: 920px;
	padding: 0 10px;
	margin: 0 auto;
}

.clearfix::after{
	display: table;
	content: '';
	clear: both;
}

.logo{
	float: left;
}

.main-menu{
	float: right;
}

.main-menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}

.main-menu li{
	display: inline-block;
	margin-left: 43px;
	vertical-align: top;
}

.main-menu a{
	line-height: 32px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #ebebeb;
}

.header-title{
	float: left;
	margin-top: 200px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.header-title .title-one{
	font-size: 40px;
	margin: 25px;
}

.header-title .title-two{
	padding-left: 10px;
	font-size: 75px;
	font-weight: 700;
	margin-bottom: 55px;
}

.services{
	margin-top: 110px;
	padding-bottom: 110px;
}

.services-title{
	margin-bottom: 75px;
}

.services-title h2{
	margin: 0;
	line-height: 75px;
	text-align: center;
	color: #000;
	font-size: 40px;
	text-transform: uppercase;
}

.services-title p{
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	color: #777;
	text-align: center;
}

.services-item{
	float: left;
	width: 270px;
	text-align: center;
	margin-right: 55px;
}

.services-item h3{
	font-size: 18px;
}

.services-item p{
	font-size: 14px;
	color: #777;
}

.services-item:nth-child(4){
	margin-right: 0;
}

.portfolio{
	background-color: #f7f7f7;
	padding-top: 110px;
	padding-bottom: 135px;
}

.portfolio-title {
	margin-bottom: 65px;
}

.portfolio-title h2{
	margin: 0;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}

.portfolio-title p{
	margin: 5;
	font-size: 16px;
	color: #777;
	text-align: center;
}

.gallery-item{
	width: 291px;
	float: left;
	margin-right: 23px;
}

.gallery-item:nth-child(3n){
	margin-right: 0;
}

.about-us{
	padding-top: 120px;
}

.about-us-title{
	text-align: center;
	margin-bottom: 65px;
}

.about-us-title h2{
	margin: 0;
	font-size: 40px;
	text-transform: uppercase;
}

.about-us-title p{
	margin: 5;
	font-size: 16px;
	color: #777;
}

.about-us-item{
	position: relative;
	width: 560px;
	min-height: 180px;
	padding-bottom: 70px;
}


.about-us-item:nth-child(odd){
	text-align: left;
	left: 375px
}

.about-us-item:nth-child(even){
	text-align: right;
}

.about-us-item:nth-child(odd) img{
	float: left;
	margin-right: 40px;
}

.about-us-item:nth-child(even) img{
	float: right;
	margin-left: 40px;
}

.about-us-item h3{}

.about-us-item p{
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #777;
}

footer{
	padding-bottom: 100px;
}

footer p{
	text-align: center;
	color: #777;
	font-size: 14px;
}
