body{
	font-weight: 700;
	font-size: 14px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 24px;
}

.btn{
	display: inline-block;
	padding: 10px 0;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	vertical-align: top;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	outline: none;
	border: none;
	cursor: pointer; 
}

.btn-spec{
	background-color: #fb565a;
	padding: 10px 70px;
}

.btn-spec:hover{
	background-color: #d6494d;
}

.btn-spec:active{
	background-color: #b63538;
}

.o-btn{
	padding: 10px 40px;
}

.red{
 	background-color: #fb565a;
}

.red:hover{
	background-color: #d6494d;
}

.red:active{
	background-color: #b63538;
}

.green{
	background-color: #00ca74;
}

.green:hover{
	background-color: #01a25e;
}

.green:active{
	background-color: #009053;
}

.yellow{
	background-color: #efc84a;
}

.yellow:hover{
	background-color: #d6ae2c;
}

.yellow:active{
	background-color: #c09b24;
}

.feedback .btn{
	padding: 10px 55px;
	background-color: #fb565a;
}

.container{
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.main-header{
	max-height: 436px;
	margin-bottom: 80px;
	padding-top: 25px;
	background-color: #eee;
}

.main-header-logo{
	padding-top: 0px;
	margin-right: 80px;
	float: left;
	width: 140px;
	font-size: 14px;
}


.main-navigation{
	padding-top: 15px;
	width: 560px;
	float: left;
	margin-bottom: 50px;
}

.main-navigation ul{
	margin: 0;
	padding: 0;
	padding-left: 100px;
	list-style: none;
	font-size: 0;
}

.main-navigation li{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
}

.main-navigation a{
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 40px;
	color: #000;
	line-height: 30px;
}	

.header-cart{
	padding-top: 15px;
	padding-right: 0px;
	text-align: right;
	float: right;
	width: 100px;
}

.header-cart a{
	display: inline-block;
	padding: 0;
	margin: 0;
	text-decoration: none;
	vertical-align: top;
	line-height: 30px;
	text-transform: uppercase;
}

.slides{
	height: 310px;
}

.slide-left-column{
	float: left;
	width: 400px;
}

.slide-right-column{
	width: 340px;
	float: right;
}


.slide-content h2{
	margin: 0;
	margin-bottom: 5px;
	font-size: 36px;
	line-height: 36px;
}

.slide-content p{
	color: #676d71;
	font-size: 16px;
	line-height: 22px;
}

.offers{
	margin-bottom: 80px;
}

.offers-item{
	float: left;
	width: 240px;
	margin-right: 80px;
}

.offers-item:nth-child(3n){
	margin-right: 0;
}

.about-us{
	margin-bottom: 55px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.about-us-left-column{
	float: left;
	width: 620px;
}

.about-us-right-column{
	float: right;
	width: 250px;
}

.partners{
	margin-bottom: 85px;
	padding-left: 12px;
	border-bottom: 2px solid #eee;
}

.partners-item{
	float: left;
	margin-right: 120px;
}

.partners-item:nth-child(3n){
	margin-right: 0;
}

.footer{
	max-height: 632px;
	background-color: #eee;
}

#map{
	height: 416px;
}


.container{
	position: relative;
}


.feedback{
	position: absolute;
	top: -340px;
	padding: 30px 20px;
	float: left;
	width: 210px;
	height: 180px;
	background-color: #fff;
}

.footer-left-column{
	float: left;
}

.footer-right-column{
	float: right;
}

.footer-right-column h2{
	font-size: 36px;
}
